{{ define "Index" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Users </h2>
    <table border="1">
      <thead>
      <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <!-- <td>Age</td>
        <td>Sex</td>
        <td>Hobbies</td>
        <td>City</td> -->
        <td>View</td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        <td> {{ .FirstName }} </td>
        <td> {{ .LastName }} </td>
        <td><a href="/show?id={{ .ID }}">View</a></td>
        <!-- <td> {{ .Age }} </td>
        <td> {{ .Sex }} </td>
        <td> {{ .Hobbies }} </td>
        <td>{{ .City }} </td> -->
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}